<form>
    <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput name="nome" [(ngModel)]="anuncio.nome">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-label>Cliente</mat-label>
                <input matInput name="cliente" [(ngModel)]="anuncio.cliente">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-label>Investimento por dia</mat-label>
                <input type="number" matInput (change)="calcularVisualizacoes()" name="investimentoDia" [(ngModel)]="anuncio.investimentoDia">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-label>Data Início de Vigência</mat-label>
                <input matInput [matDatepicker]="inicioVigencia" name="dataInicioVigencia" [(ngModel)]="anuncio.dataInicioVigencia">
                <mat-datepicker-toggle matSuffix [for]="inicioVigencia"></mat-datepicker-toggle>
                <mat-datepicker #inicioVigencia></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-label>Data Fim de Vigência</mat-label>
                <input matInput [matDatepicker]="fimVigencia" name="dataFimVigencia" [(ngModel)]="anuncio.dataFimVigencia">
                <mat-datepicker-toggle matSuffix [for]="fimVigencia"></mat-datepicker-toggle>
                <mat-datepicker #fimVigencia></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>

Visualizações Aproximadas: {{ visualizoesAproximadas }}

<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    </mat-grid-tile>
</mat-grid-list>